*{
    overflow: hidden;
}
.imagem-de-fundo{
    background: url(img/photo-1699891730676-037bed3c1bed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(255, 254, 254);
    border-radius: 10px;
    margin:47px;
    height: 400px;
    margin-left: 30%;
    margin-right: 30%;
    gap: 1vh;
}
h1{
    background: none;
    background: transparent;
    font-size: 50px;
    font-family: "Fira Sans", sans-serif;
    color: white;
    margin-top: 10px;
}
input{
    margin-bottom: 20px;
    height: 24px;
    width: 200px;
    border-radius: 15px;
}
label{
    color: white;
    margin-right: 150px;
    font-weight: bold;
    font-family:"Fira Sans", sans-serif;
}
button{
    height: 35px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
a{
    color:rgb(6, 212, 195);
    text-decoration: none;
}
p{
    color: white;
    font-family: "Fira Sans", sans-serif;
}
